# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env/
.venv/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Qt / UI artifacts
*.qt-resource
*.qhc
*.qch

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Test & coverage
htmlcov/
.coverage*
pytest_cache/
